.item_box {
  width: 355px;
  height: 70px;
  display: flex;
  border-bottom: 2px solid #E5E5E5;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
#avater {
  width: 70px;
  height: 70px;
}
.item_text {
  flex: 1;
}

div.item_text .friendList_detail {
  font-size: 15px;
  margin-bottom: 5px;
}

.item_text {
  margin-left: 15px;
};