.learningbot-container {
  width: 375px;
  height: 812px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.learningbot-header {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  width: 100%;
  color: #646464;
}
.learningbot-header > h4 {
  flex: 1;
  margin: 0;
  color: #6c6c6c;
}

.learningbot-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  overflow: scroll;
}

.learningbot-main-container::-webkit-scrollbar {
  display: none;
}

.learningbot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.learningbot-message {
  position: relative;
  width: fit-content;
  margin-bottom: 30px;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  background: #51bec9;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.learningbot-message:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #51bec9;
  border-bottom: 0;
  border-right: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.learningbot_button button {
  background-color: #45acc9;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 50px;
  margin-top: 80px;
  margin-bottom: 30px;
  font-weight: 500;
}

.learningbot_button button:hover {
  cursor: pointer;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

.learningbot-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.learningbot-answer p {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #233257;
}

.learningbot-answer-buttons {
  padding-top: 30px;
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.learningbot-answer-buttons button:first-child {
  background-color: #e45f2f;
  border: none;
  color: white;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 50px;
  font-weight: 500;
  margin-left: -15px;
}

.learningbot-answer-buttons button:last-child {
  background-color: #45acc9;
  border: none;
  color: white;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 50px;
  font-weight: 500;
  margin-left: 30px;
}

.learningbot-answer-buttons button:hover {
  cursor: pointer;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

.learningbot span {
  padding: 0px;
  margin: 0px;
  width: fit-content;
}

.learningbot-addbookmark button {
  /* padding: 5px 10px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* padding-left: 250px; */
  width: 20px;
}

.learningbot-addbookmark button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

.learningbot-bookmark-table {
  width: 95%;
  height: 100%;
  overflow: scroll;
}

.learningbot-bookmark-table::-webkit-scrollbar {
  display: none;
}

.learningbot-main-container textarea {
  font-size: 1.3rem;
  color: #384158;
  font-weight: 500;
  line-height: 110%;
}