.learningbot-container {
  width: 375px;
  height: 812px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.learningbot-header {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  width: 100%;
  color: #646464;
}
.learningbot-header > h4 {
  flex: 1;
}

.learningbot-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
  justify-content: space-between;
}

.learningbot{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}



.learningbot-message {
  position: relative;
  width: fit-content;
  margin-bottom: 30px;
  padding: 20px;
  background: #51bec9;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.learningbot-message:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #51bec9;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}


.learningbot_button button {
  background-color: #45acc9; /* Green */
  border: none;
  color: white;
  padding: 13px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  margin-bottom: 40px;
}

.learningbot_button button:hover {
  cursor: pointer;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}