.login-container {
  width: 375px;
  height: 812px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* padding: 5%; */
}


.login-main {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  margin: 5%;
  margin-top: 0;
}


img.login-logo {
  padding-top: 100px;
  width: 50%;
}

.main > p {
  margin-bottom: 100px;
}

.login-bottom-container {
  width:100%;
}

.login-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 30px;
}

.login-main button {
  background-color: #45acc9; /* Green */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 50px;
}