
.matching_body {
  justify-content: space-between;
  width: 100%;
}

#logo {
  width: 70%;
  height: 60%;
  padding-top: 20%;
}

#cancel_button {
  margin-top: 30px;
  margin-bottom: 10px;
  color:  white;
  background-color: #2596be;
  border-radius: 30px;
}

#join_button {
  margin-top: 30px;
  margin-bottom: 10px;
  color:  white;
  background-color: #2596be;
  border-radius: 30px;
}

.matched_buttons {
  width: 80%;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
}